.carousel-inner{
    width: 1296px;
    height: 800px;
} 
.news{
    text-align: center;
    font-size: 100px;
}

.top5px{
    margin-top: 5px;
}

.player{
    margin-left: 50px;
}

.map{
    margin-left: 200px;
}
.card{
    float: left;
}

@media   only screen and (max-device-width: 480px)   {
         #carusel{
             display: none;
         }
} 
